In [2]:
# Import functions

import pandas as pd
import numpy as np
import os

In [11]:
# Read in some files to see what the data looks like
year = 1996

base = f'baseball_data/{year}/'
allplayers = pd.read_csv(base+f'{year}allplayers.csv')
batting = pd.read_csv(base+f'{year}batting.csv')
fielding = pd.read_csv(base+f'{year}fielding.csv')
gameinfo = pd.read_csv(base+f'{year}gameinfo.csv')
pitching = pd.read_csv(base+f'{year}pitching.csv')
plays = pd.read_csv(base+f'{year}plays.csv')
teamstats = pd.read_csv(base+f'{year}teamstats.csv')

In [12]:
teamstats[teamstats['team'] == 'CLE'][teamstats['gametype'] == 'regular']

/var/folders/fh/fzyqqz2s1vzcm3v06kz1h29w0000gp/T/ipykernel_93179/2430330839.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  teamstats[teamstats['team'] == 'CLE'][teamstats['gametype'] == 'regular']

,gid,team,inn1,inn2,inn3,inn4,inn5,inn6,inn7,inn8,...,start_f8,start_f9,start_f10,date,number,site,opp,wl,gametype,box
25,CLE199604020,CLE,0,0,0,0,0,0.0,0.0,1.0,...,loftk001,ramim002,murre001,19960402,0,CLE08,NYA,l,regular,y
47,CLE199604030,CLE,0,1,0,0,0,0.0,0.0,0.0,...,loftk001,ramim002,murre001,19960403,0,CLE08,NYA,l,regular,y
87,CLE199604050,CLE,0,0,0,0,0,0.0,0.0,1.0,...,loftk001,ramim002,murre001,19960405,0,CLE08,TOR,l,regular,y
113,CLE199604060,CLE,0,4,1,0,0,0.0,0.0,0.0,...,loftk001,ramim002,murre001,19960406,0,CLE08,TOR,w,regular,y
141,CLE199604070,CLE,0,0,1,1,1,2.0,2.0,1.0,...,loftk001,ramim002,murre001,19960407,0,CLE08,TOR,w,regular,y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4387,CLE199609240,CLE,0,0,4,0,3,0.0,0.0,0.0,...,thomr004,gileb002,franj002,19960924,0,CLE08,MIN,w,regular,y
4413,CLE199609250,CLE,0,0,0,3,0,2.0,0.0,1.0,...,thomr004,ramim002,bellj002,19960925,0,CLE08,MIN,w,regular,y
4462,KCA199609270,CLE,0,0,0,3,0,0.0,0.0,1.0,...,loftk001,ramim002,seitk001,19960927,0,KAN06,KCA,l,regular,y
4490,KCA199609280,CLE,1,1,0,0,0,2.0,1.0,0.0,...,loftk001,ramim002,franj002,19960928,0,KAN06,KCA,w,regular,y
4518,KCA199609290,CLE,0,0,0,0,0,0.0,0.0,0.0,...,loftk001,ramim002,seitk001,19960929,0,KAN06,KCA,l,regular,y

In [18]:
base = 'baseball_data/'

teamstats_all = pd.read_csv(base+'teamstats.csv')
teams = pd.read_csv(base+'teams.csv')
biofile = pd.read_csv(base+'biofile0.csv')
pitching = pd.read_csv(base+'pitching.csv')
batting = pd.read_csv(base+'batting.csv')

/var/folders/fh/fzyqqz2s1vzcm3v06kz1h29w0000gp/T/ipykernel_2250/2282825215.py:3: DtypeWarning: Columns (5,6,7,8,9,10,30,44,46,52,61,63,72,99,102) have mixed types. Specify dtype option on import or set low_memory=False.
  teamstats_all = pd.read_csv(base+'teamstats.csv')
/var/folders/fh/fzyqqz2s1vzcm3v06kz1h29w0000gp/T/ipykernel_2250/2282825215.py:7: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  batting = pd.read_csv(base+'batting.csv')

In [19]:
batting

,gid,id,team,b_lp,b_seq,stattype,b_pa,b_ab,b_r,b_h,...,dh,ph,pr,date,number,site,opp,wl,gametype,box
0,PHI190104180,davil101,BRO,1.0,1.0,value,5.0,5.0,1.0,1.0,...,NaN,NaN,NaN,19010418,0,NaN,PHI,w,regular,y
1,PHI190104180,keelw101,BRO,2.0,1.0,value,5.0,5.0,1.0,2.0,...,NaN,NaN,NaN,19010418,0,NaN,PHI,w,regular,y
2,PHI190104180,shecj101,BRO,3.0,1.0,value,5.0,4.0,4.0,3.0,...,NaN,NaN,NaN,19010418,0,NaN,PHI,w,regular,y
3,PHI190104180,kellj106,BRO,4.0,1.0,value,5.0,5.0,1.0,3.0,...,NaN,NaN,NaN,19010418,0,NaN,PHI,w,regular,y
4,PHI190104180,mccrt101,BRO,5.0,1.0,value,5.0,4.0,1.0,0.0,...,NaN,NaN,NaN,19010418,0,NaN,PHI,w,regular,y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5532661,ARI202311010,rivee001,ARI,8.0,3.0,value,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,20231101,0,PHO01,TEX,l,worldseries,y
5532662,ARI202311010,perdg001,ARI,9.0,1.0,value,4.0,4.0,0.0,0.0,...,NaN,NaN,NaN,20231101,0,PHO01,TEX,l,worldseries,y
5532663,ARI202311010,gallz001,ARI,NaN,NaN,value,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,20231101,0,PHO01,TEX,l,worldseries,y
5532664,ARI202311010,ginkk001,ARI,NaN,NaN,value,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,20231101,0,PHO01,TEX,l,worldseries,y
5532665,ARI202311010,sewap001,ARI,NaN,NaN,value,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,20231101,0,PHO01,TEX,l,worldseries,y

In [37]:
teamstats_all['gametype'][teamstats_all['gametype'] == 'championship']

8372      championship
8373      championship
8388      championship
8389      championship
8390      championship
              ...
172081    championship
172142    championship
172143    championship
172157    championship
172158    championship
Name: gametype, Length: 268, dtype: object

In [17]:
pitching.columns

Index(['gid', 'id', 'team', 'p_seq', 'stattype', 'p_ipouts', 'p_noout',
       'p_bfp', 'p_h', 'p_d', 'p_t', 'p_hr', 'p_r', 'p_er', 'p_w', 'p_iw',
       'p_k', 'p_hbp', 'p_wp', 'p_bk', 'p_sh', 'p_sf', 'p_sb', 'p_cs', 'p_pb',
       'wp', 'lp', 'save', 'p_gs', 'p_gf', 'p_cg', 'date', 'number', 'site',
       'opp', 'wl', 'gametype', 'box'],
      dtype='object')