In [1]:
# Import functions

import pandas as pd
import numpy as np
import os

In [11]:
# Read in some files to see what the data looks like
year = 1996

base = f'baseball_data/{year}/'
allplayers = pd.read_csv(base+f'{year}allplayers.csv')
batting = pd.read_csv(base+f'{year}batting.csv')
fielding = pd.read_csv(base+f'{year}fielding.csv')
gameinfo = pd.read_csv(base+f'{year}gameinfo.csv')
pitching = pd.read_csv(base+f'{year}pitching.csv')
plays = pd.read_csv(base+f'{year}plays.csv')
teamstats = pd.read_csv(base+f'{year}teamstats.csv')

In [12]:
teamstats[teamstats['team'] == 'CLE'][teamstats['gametype'] == 'regular']

/var/folders/fh/fzyqqz2s1vzcm3v06kz1h29w0000gp/T/ipykernel_93179/2430330839.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  teamstats[teamstats['team'] == 'CLE'][teamstats['gametype'] == 'regular']

,gid,team,inn1,inn2,inn3,inn4,inn5,inn6,inn7,inn8,...,start_f8,start_f9,start_f10,date,number,site,opp,wl,gametype,box
25,CLE199604020,CLE,0,0,0,0,0,0.0,0.0,1.0,...,loftk001,ramim002,murre001,19960402,0,CLE08,NYA,l,regular,y
47,CLE199604030,CLE,0,1,0,0,0,0.0,0.0,0.0,...,loftk001,ramim002,murre001,19960403,0,CLE08,NYA,l,regular,y
87,CLE199604050,CLE,0,0,0,0,0,0.0,0.0,1.0,...,loftk001,ramim002,murre001,19960405,0,CLE08,TOR,l,regular,y
113,CLE199604060,CLE,0,4,1,0,0,0.0,0.0,0.0,...,loftk001,ramim002,murre001,19960406,0,CLE08,TOR,w,regular,y
141,CLE199604070,CLE,0,0,1,1,1,2.0,2.0,1.0,...,loftk001,ramim002,murre001,19960407,0,CLE08,TOR,w,regular,y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4387,CLE199609240,CLE,0,0,4,0,3,0.0,0.0,0.0,...,thomr004,gileb002,franj002,19960924,0,CLE08,MIN,w,regular,y
4413,CLE199609250,CLE,0,0,0,3,0,2.0,0.0,1.0,...,thomr004,ramim002,bellj002,19960925,0,CLE08,MIN,w,regular,y
4462,KCA199609270,CLE,0,0,0,3,0,0.0,0.0,1.0,...,loftk001,ramim002,seitk001,19960927,0,KAN06,KCA,l,regular,y
4490,KCA199609280,CLE,1,1,0,0,0,2.0,1.0,0.0,...,loftk001,ramim002,franj002,19960928,0,KAN06,KCA,w,regular,y
4518,KCA199609290,CLE,0,0,0,0,0,0.0,0.0,0.0,...,loftk001,ramim002,seitk001,19960929,0,KAN06,KCA,l,regular,y

In [13]:
base = 'baseball_data/'

teamstats_all = pd.read_csv(base+'teamstats.csv')
teams = pd.read_csv(base+'teams.csv')
biofile = pd.read_csv(base+'biofile0.csv')

/var/folders/fh/fzyqqz2s1vzcm3v06kz1h29w0000gp/T/ipykernel_93179/2599637645.py:3: DtypeWarning: Columns (5,6,7,8,9,10,30,44,46,52,61,63,72,99,102) have mixed types. Specify dtype option on import or set low_memory=False.
  teamstats_all = pd.read_csv(base+'teamstats.csv')

In [15]:
teams[teams['LAST'] >= 1996]

    TEAM LEAGUE           CITY      NICKNAME  FIRST  LAST
5    ANA     AL        Anaheim        Angels   1997  2023
6    ARI     NL        Arizona  Diamondbacks   1998  2023
18   ATL     NL        Atlanta        Braves   1966  2023
20   BAL     AL      Baltimore       Orioles   1954  2023
37   BOS     AL         Boston       Red Sox   1901  2023
55   CAL     AL     California        Angels   1965  1996
64   CHA     AL        Chicago     White Sox   1901  2023
67   CHN     NL        Chicago          Cubs   1876  2023
73   CIN     NL     Cincinnati          Reds   1890  2023
80   CLE     AL      Cleveland     Guardians   1901  2023
89   COL     NL       Colorado       Rockies   1993  2023
107  DET     AL        Detroit        Tigers   1901  2023
115  FLO     NL        Florida       Marlins   1993  2011
123  HOU  NL;AL        Houston        Astros   1962  2023
140  KCA     AL    Kansas City        Royals   1969  2023
149  LAN     NL    Los Angeles       Dodgers   1958  2023
156  MIA     NL          Miami       Marlins   2012  2023
158  MIL  AL;NL      Milwaukee       Brewers   1970  2023
159  MIN     AL      Minnesota         Twins   1961  2023
168  MON     NL       Montreal         Expos   1969  2004
187  NYA     AL       New York       Yankees   1903  2023
189  NYN     NL       New York          Mets   1962  2023
191  OAK     AL        Oakland     Athletics   1968  2023
200  PHI     NL   Philadelphia      Phillies   1883  2023
205  PIT     NL     Pittsburgh       Pirates   1887  2023
220  SDN     NL      San Diego        Padres   1969  2023
222  SEA     AL        Seattle      Mariners   1977  2023
223  SFN     NL  San Francisco        Giants   1958  2023
234  SLN     NL      St. Louis     Cardinals   1892  2023
242  TBA     AL      Tampa Bay    Devil Rays   1998  2023
243  TEX     AL          Texas       Rangers   1972  2023
248  TOR     AL        Toronto     Blue Jays   1977  2023
253  WAS     NL     Washington     Nationals   2005  2023

In [37]:
teamstats_all['gametype'][teamstats_all['gametype'] == 'championship']

8372      championship
8373      championship
8388      championship
8389      championship
8390      championship
              ...
172081    championship
172142    championship
172143    championship
172157    championship
172158    championship
Name: gametype, Length: 268, dtype: object

In [39]:
teamstats_all.iloc[172081]

gid         BIR194809300
team                 BIR
inn1                 0.0
inn2                 0.0
inn3                 1.0
                ...
site               BIR01
opp                  HOM
wl                     w
gametype    championship
box                  NaN
Name: 172081, Length: 107, dtype: object